body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.logo {
    font-size: 92px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.logo .blue {
    color: #4285F4;
}

.logo .red {
    color: #EA4335;
}

.logo .yellow {
    color: #FBBC05;
}

.logo .green {
    color: #34A853;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #e8e8e8;
}
